@import './Header.scss';
@import './AddSmurfForm.scss';
@import './SmurfsContainer.scss';
@import './Smurf.scss';
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Merriweather', serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background: rgb(58, 58, 58);
}
