.smurf {
  width: 150px;
  height: 150px;
  padding: 15px;
  border-radius: 5px;
  background: #2cb2d2;
  margin-bottom: 15px;
  text-align: center;
  color: white;

  .smurf-name {
    margin: 0;
    margin-bottom: 40px;
  }
}